
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@600&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@600&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.hero-bg {
    /* position: relative;  */
    width: 100%;
    height: 100vh;
    background-image: url('https://static.tossdown.com/images/cb3c2d22-7957-4c35-a140-367b8464f7a3.webp');
    background-size: cover;
    background-position: center;
}


#font {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-weight: 900 ;
}

.order{
    border: 1px solid white;
    font-size: 19px;
    border-radius: 90px;
}

.order:hover{
    color: gray;
    border: 1px solid gray;
}


.form-container {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .form {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1 solid white;
    text-align: center;
   
  }
  .form input , textarea{
    padding: 15px 30px ;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid  white;;
    /* border-color: rgb(4, 73, 4);; */
  }
  .form legend {
    color: white;
    
  }
  .form-button {
    text-align: center;
    align-items: center;
    font-size: 19px;
    padding: 10px 30px ;
  
    background-color: red;
    color: white;
    border-radius: 7px;
    display: flex;
    border: none;
  }
  .form-button:hover {
    background-color:rgb(247, 49, 49);
    border-radius: 7px;
    color:white ;

    transition-duration: 0.4s;
    /* border: 1px solid; */
    /* box-shadow: 2px 3px 5px rgb(4, 73, 4); */
    transition: 0.3s;
    /* font-weight: 700; */
  }
  

  .head {
    border-bottom: 2px solid white;
  }

  .bg{
    background-color: #0F0F0F;
  }



  
  .btn-grad {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  